* {
  margin: 0;
  padding: 0;
}

header {
  height: 100vh;
  width: 100%;
}

.banner {
  background-image: url("./resources/Banner.png");
  width: 1280px;
  ;
  height: 600px;
  border-radius: 15px;
  margin-top: 50px;
  margin-left: 140px;
  text-align: center;
  color: white;
}

.happy {
  color: #FFF;
  text-align: center;
  font-family: Merriweather;
  font-size: 22px;
  margin-top: 50px;
}

.second-banner {

  width: 1280px;
  ;
  height: 600px;
  border-radius: 16px;
  margin-top: 50px;
  margin-left: 140px;
  text-align: center;
  color: white;
}

.off {
  color: #F00;
  text-align: center;
  font-size: 50px;

}

.holi {
  color: #F00;
  text-align: center;
  font-size: 20px;
}

.all {
  color: black;
  text-align: center;
  font-size: 40px;
}

.vector {
  height: 100vh;
  width: 100%;
}

.vec-image {

  background-image: url(./resources/Vector.png);
  width: 1080px;
  ;
  height: 500px;
  border-radius: 16px;
  margin-top: 200px;
  margin-left: 140px;
  background-position: 0 10%;
  display: flex;
  position: relative;
}

.vec-image h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  position: relative;

}

.vec-image h6 {
  color: white;
  font-size: 18px;
  position: relative;
  font-weight: 400;
  line-height: 30px;
}

.vec-image button {
  color: #fff;
  position: relative;
  text-align: center;
  font-size: 20px;
  background-color: transparent;
  font-weight: 700;
  border: none;
  margin-top: 20px;
}

.Place-box {
  height: 100%;
  width: 100%;
}

.Place {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1280px;
  height: 480px;
  margin-top: 100px;
  border-radius: 10px;
  margin-left: 140px;
  background-image: white;
}

.Place h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
}

.margen {
  margin-top: 100px;
}

.Place button {
  height: 50px;
  width: 120px;
  background-color: red;
  color: white;
  font-weight: 400;
  border: none;
  border-radius: 8px;
  margin-top: 80px;
}

.top {
  margin-top: 40px;
}

.Ellipse {
  display: flex;
  width: 1280px;
  height: 600px;
  margin-left: 140px;
  align-items: center;
  justify-content: space-between;
}

.round-img {
  width: 364.844px;
  height: 364.844px;
  border-radius: 50%;
  border: 15px solid red;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.round-img img {
  height: 310px;
  width: 310px;
}

.best h5 {
  color: #f00;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  font-weight: 500;
}

.best {
  width: 390px;
}

.best h2 {
  color: black;
  font-family: "Merriweather", serif;
  font-size: 48px;
  font-weight: 900;
  margin-top: 20px;
}

.best h6 {
  color: black;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 20px;
}

.happyright h2 {
  color: red;
  font-family: 'Times New Roman', Times, serif;
  font-size: 45px;
  font-weight: 700;
}

.happyright {
  width: 276px;
}

.happyright h5 {
  color: black;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
}

.happyright img {
  margin-top: 20px;
}
.fifty {
  width: 1200px;
margin-top: 50px;
  position: relative;
  text-align: end;
}

.Holidays-Part h3 {
  color: #070211;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  font-weight: 450;
  text-align: center;
}
.Holidays-Part h1 {
  color: red;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin-top: 30px;
  font-size: 72px;
  font-style: normal;
  font-weight: 800;
}
.Holidays-Part p {
  color: black;

  text-align: center;
  font-family: 'Times New Roman', Times, serif
  font-size: 20px;
  font-weight: 450;
  line-height: 32px;
}
.page5-box {
  height: 100%;
  width: 1260px;
  margin-left: 140px;

}
.fif-img {
  position: absolute;
  top: 20%;
  right: 22%;
}
.red {
  height: 200px;
  width: 1200px;
  background-color: red;
  border-radius: 16px 0px 16px 16px;
}

.group{
  position: relative;
  top: -200%;
  left: 3%;
  width: 700px;
  height: 560px;
  background-blend-mode: screen;
}
.Gift-page p {
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 15px;
}
.Gift-page h1 {
  color: black;
  margin-top: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 45px;
  font-weight: 800;
}
.Gift-page h4 {
  color: red;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 450;
  margin-top: 100px;
}
.Gift-page {
  width: 850px;
  margin-left: 140px;
}

.many-img {
  display: flex;
  margin-left: 140px;
  margin-top: 60px;
  justify-content: space-between;
  margin-right: 140px;
  overflow: hidden;
}
.img {
  transition: 0s ease;
  overflow: hidden;
}
.hexa {
  transition: all 0.5s ease;
  border-radius: 15px;
}
.img .hexa:hover {
  transform: scale(1.2);
  border-radius: 18px;
}
.img:hover {
  border-radius: 18px;
}
.many-img img {
  width: 370px;
  height: 400px;
  border-radius: 16px;
}
.img-box {
  display: flex;
  margin-left: 140px;
  margin-top: 20px;
  justify-content: space-between;
  margin-right: 140px;
  overflow: hidden;
}
.img-box img {
  width: 370px;
  height: 400px;
  border-radius: 16px;
}